*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}
li{list-style:none;}
a{
    text-decoration:none;
    
}
/*a:focus{
    outline:solid 1px #F50057;
}*/
@keyframes btn-back-animation{
    0%{
        -webkit-transform:scale(0);
        transform:scale(0);
    }
    100%{
        -webkit-transform:scale(1);
        transform:scale(1);
    }
}
/*HEADER*/
.header{
    background-image:linear-gradient(to right, #232227, #121214);
    width:100%;
}
.btn-back{
    display:none;
    position:fixed;
    top:87%;
    left:80%;
    background:#F50057;
    opacity:0.9;
    border:1px solid #232227;
    border-radius:100%;
    font-size:150%;
    padding:3% 4%;
    color:#fff;
    animation:btn-back-animation 0.4s ease-in-out;
}
.menu{
    display:flex;
    justify-content:space-between;
    padding:2%;
}
.open-menu{
    color:#fff;
    background:none;
    font-size:180%;
    border:none;
    cursor:pointer;
    outline:none;
}
.title{
    color:#fff;
    font-size:200%;
}
.title-page{
    color:#fff;
    font-size:220%;
    background:rgba(35,35,35,0.9);
    padding:0.5%;
    text-align:center;
}
.menu-mobile{
    background:#232227;
    position:fixed;
    top:0;
    bottom:0;
    right:0;
    left:-100%;
    width:100%;
    height:100%;
    transition:left 0.4s ease-in-out;
}
.menu-mobile .media{
    background:#151518;
}
nav.menu-mobile section.media div.media-img{
    text-align:center;
    padding:3%;
    margin-left:6%;
}
.media-icon,.media-pc{
    padding:2% 5%;
}
.icon,.icon-pc{
    color:#fff;
    font-size:180%;
    margin-right:2%;
    transition:opacity 0.2s ease;
}
.icon:hover{
    opacity:0.7;
}
.menu-mobile ul{
    margin-top:8%;
}
.menu-mobile ul li{
    margin-top:5%;
    margin-left:5%;
}
.menu-mobile ul li a{
    color:#fff;
    font-size:145%;
}
.close-menu{
    color:#fff;
    cursor:pointer;
    float:right;
    font-size:225%;
    margin-top:4%;
    margin-right:4%;
}
.bold{font-weight:bolder;}
#link3{
    display:none;
    cursor:pointer;
}
.search{
    margin-left:5%;
    margin-top:6%;
    outline:none;
    font-size:110%;
    padding:1%;
    border-radius:10px 0 0 10px;
    border:1px solid #fff;
    background:none;
    color:#fff;
}
.icon-search{
    font-size:110%;
    padding:1% 3%;
    background:#F50057;
    color:#fff;
    border:1px solid #F50057;
    cursor:pointer;
    border-radius:0 10px 10px 0;
    margin-left:-3.3%;
}
.close-search{
    display:none;
}
.close-search:hover{
    opacity:0.7;
}
/*MAIN*/
.main{
    margin:10% 2.5%;
}
.academy-items{
    background:#eee;
    display:flex;
    align-items:center;
    border-radius:10px;
    padding:2%;
    margin-bottom:5%;
}
.image-circle-list{
    margin:3% 0;
    display:inline-block;
    overflow:hidden;
    width:90px;
    height:90px;
    border-radius:50%;
    border:1.2px solid #F50057;
}
.image-circle-list img{
    width:100%;
    height:100%;
    object-fit:cover;
}
.items-description{
    margin-left:4%;
}
.color{
    color:#232227;
    line-height:1.5rem;
}
.text-dec{
    text-decoration:underline;
}
.font-normal{
    font-weight:normal;
}
.bottom{
    margin-bottom:3.5%;
}
.top{
    margin-top:1%;
}
.access-span{
    margin-bottom:5%;
    margin-top:5%;
}
.red{
    font-size:95%;
    color:#fff;
    background:#ed1b24;
    padding:0.4rem;
    border-radius:18px;
    transition:background-color 0.2s ease-in-out;
}
.red:hover{
    background:#bd1720;
}
.access{
    font-size:110%;
    color:#fff;
    background:#F50057;
    padding:0.5rem;
    border-radius:18px;
    transition:background-color 0.2s ease-in-out;
}
.access:hover,.access:focus{
    background:#cc1655;
}
.academy-controls{
    display:flex;
    justify-content:space-between;
}
.control{
    color:#707070;
    font-size:90%;
}
.p-noresult{
    font-size:150%;text-align:center;margin-top:20%;
}
.icon-noresult{
    margin-bottom:20%;margin-top:5%;font-size:700%;
}

/*EDIT*/
.warning{
    margin:2% 5%;
    background:#F50057;
    color:#fff;
    padding:3%;
    line-height:150%;
    border-radius:5px;
}
.title-profile{
    color:#fff;
    background:#232227;
    margin:0 5%;
    margin-top:2%;
    padding:1.5%;
    border-radius:10px 10px 0 0;
}
.title-profile h2{
    margin-left:5%;
}
.profile{
    margin:0 5%;
    border:none;
    box-shadow:0px 2px 7px 0px #232227;
    border-radius:0 0 10px 10px;
}
.image-profile{
    text-align:center;
}
.profile .image-circle{
    margin:3% 0;
    display:inline-block;
    overflow:hidden;
    width:250px;
    height:250px;
    border-radius:50%;
    border:3px solid #232227;
}
.profile .image-circle img{
    width:100%;
    height:100%;
    object-fit:cover;
}
.info-profile{
    margin-left:5%;
    margin-right:5%;
    color:#232227;
    padding-bottom:1%;
}
.info{
    margin-bottom:4%;
}
.email-info{
    overflow:hidden;
    text-overflow:ellipsis; /*põe o ... e impede que o texto ultrapasse a borda do site*/
    font-size:85%;
}
.info-add{
    display:flex;
}
.date{
    margin-right:3%;
}
.font-normal{
    font-weight:normal;
}
.exit,.delete{
    margin-right:7%;
    background:#f31a66;
    color:#fff;
    padding:1% 5%;
    font-size:105%;
    border-radius:8px;
    transition:background-color 0.2s ease-in-out; 
    cursor:pointer;
}
.exit:hover{
    background:#cc1655;
}
.delete{
    background:#ed1b24;
}
.delete:hover{
    background:#bd1720;
}
.form-update{
    margin-top:0;
    border-radius:0 0 10px 10px;
}
.information-profile, .form-profile{
    margin-top:10%;
}
.btn{
    margin-bottom:4%;
}
.margin-top-alert{
    margin-top:0;
}

.modal-delete{
    background-color: rgba(0, 0, 0, 0.342);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}
@keyframes modal-animation{
    0%{ 
        -webkit-transform:scale(0);
        transform:scale(0);
    }
    100%{
        -webkit-transform:scale(1);
        transform:scale(1);
    }
}
.modal-container{
    margin: 1rem;
    width: 100%;
    max-width: 40%;
    height: auto;
    min-height: 25%;
    background-color: white;
    border-radius: 11px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-align:center;
    -webkit-animation:modal-animation 0.3s ease-in-out;
    animation:modal-animation 0.3s ease-in-out;
}
.modal-header{
    padding: 0.5rem 1rem;
    flex: 1;
    font-size:110%;
    display:flex;
    justify-content:space-between;
}
.modal-content{
    padding:0.5rem 1rem;
    flex: 1;
}
.modal-content-options{
    display:flex;
    justify-content:space-evenly;
}
.modal-content-options a, .modal-content-options button{
    margin-right:7%;
    background:#ed1b24;
    color:#fff;
    padding:1% 5%;
    font-size:105%;
    border-radius:8px;
    border:none;
    transition:background-color 0.2s ease-in-out; 
    cursor:pointer;
}
.modal-content-options button{
    background:#f31a66;
}
.modal-content-options a:hover{
    background:#bd1720;
}
.modal-content-options button:hover{
    background:#cc1655;
}
.modal-footer{
    padding: 1rem;
}
/*FOOTER*/
.footer{
    margin-top:10%;
    background-image:linear-gradient(to right, #232227, #121214);
    padding:2%;
}
.mid{
    padding:0;
    text-align:center;
    margin-top:2%;
    margin-bottom:3%;
}
.mid a{
    margin-right:6%;
}
.mid hr{
    height:1mm;
}
.footer p{
    margin-top:3%;
    color:#fff;
    text-align:center;
    font-size:110%;
}
@media screen and (max-width:280px){
    .profile .image-circle{
        height:220px;
        width:220px;
    }
    .email-info{
        font-size:70%;
    }
}
@media screen and (max-width:320px){
    .info-buttons{
        display:flex;
        flex-direction:column;
    }
    .info-buttons a{
        margin-bottom:3%;
    }
    
}
@media screen and (min-width:480px){
    .btn-back{
        top:87%;
        left:90%;
        font-size:115%;
        padding:0.7% 1%;
    }
}
@media screen and (min-width:768px){
    .btn-back{
        top:87%;
        left:90%;
        font-size:150%;
        padding:0.7% 1%;
    }
    .profile .image-circle{
        margin:2% 0;
        width:300px;
        height:300px;
    }
    .image-profile{
        text-align:unset;
        margin-left:5%;
    }
    .info{
        margin-bottom:1.5%;
    }
    .info-buttons{
        margin-top:3%;
    }
    .warning{
        padding:1%;
        line-height:100%;
    }
    .email-info{
        font-size:100%;
    }
}
@media screen and (min-width:968px){
    /*ALINHAMENTO*/
    .menu{padding:1% 4%;}
    .form-search{
        bottom:93%;
    }
    /*MENU*/
    .header{
        display:flex;
        align-items:center;
        align-content:center;
    }
    .open-menu{display:none;}
    .close-menu{display:none;}
    .menu-mobile{
        width:100%;
        display:block;
        background:none;
        padding:0;
        top:0;
        position:static;
    }
    .menu-mobile .media{
        background:none;
    }
    nav.menu-mobile section.media div.media-img{
        display:none;
    }
    .media-icon{
        display:none;
    }
    .icon{
        display:none;
    }
    .menu-mobile ul{
        margin-top:0;
        margin-left:15%;
        margin-right:4%;
        display:flex;
        justify-content:space-around;
    }
    .menu-mobile ul li{
        margin-top:0;   
    }
    .menu-mobile ul li a{
        font-size:110%;
    }
    .menu-mobile ul li a:hover{
        opacity:0.7;
    }
    .search{
        margin-top:1.5%;
        margin-left:7%;
        width:50%;
    }
    #link3{
        display:block;
    }
    .close-search{
        display:block;
        float:right;
        color:#fff;
        font-size:180%;
        margin-right:5%;
        margin-top:-3%;
        cursor:pointer;
    }
    .form-search{
        display:block;
        position:absolute;
        background:#232227;
        top:0;
        left:-100%;
        right:0;
        bottom:85%;
        width:100%;
        transition:left 0.6s ease-in-out;
    }

    /*EDIT*/
    .edit{
        display:flex;
        justify-content:space-between;
        
    }
    .information-profile,.form-profile{
        margin-top:5%;
    }
    .title-profile{
        margin-top:0;
    }
    .information-profile{
        width:50%;
    }
    .first-tp, .profile{
        margin-right:0;
    }
    .form-profile{
        width:50%;
    }
    .form-profile form{
        margin:0 5%;
    }
    /*FOOTER*/
    .icon-pc{
        font-size:250%;
    }
    .icon-pc:hover{
        opacity:0.7;
    }
    .media-pc{
        padding:0 5%;
        margin-bottom:1%;
        margin-top:1%;
    }
    .footer p{
        margin-top:1%;
    }

    /*INPUTS E BOTÕES*/
    .lbl{
        font-size:125%;
        margin-top:2%;
        margin-bottom:2%;
    }
    input,.file-placeholder{
        font-size:125%;
        padding:1.5%;
    }
    .btn{
        font-size:125%;
        padding:1.5%;
    }

    /*PESQUISA*/
    .main{
        margin:5% 2.5%;
    }
    .academy-items{
        padding:1%;
        margin-bottom:3%;
    }
    .image-circle-list{
        margin:3% 20%;
        width:130px;
        height:130px;
    }
    .items-description{
        margin-left:4%;
    }
    .bottom{
        margin-bottom:2%;
    }
    .access-span{
        margin-bottom:2%;
        margin-top:2%;
    }
    .control{
        font-size:110%;
    }
    .p-noresult{
        font-size:150%;text-align:center;margin-top:3%;
    }
    .icon-noresult{
        margin-bottom:3%;margin-top:3%;font-size:700%;
    }
}
@media screen and (max-width:600px){
    .modal-container{
        max-width:95%;
    }
}
@media screen and (max-width:768px){
    .modal-container{
        max-width:75%;
        min-height:15%;
    }
}
@media screen and (min-height:968px){
    .modal-container{
        min-height:10%;
    }
}